{% extends 'posts/base.html' %}
{% load static %}
{% block content %}
<div class="col-md-8">
    <h1 class="my-4">
        <small></small>
    </h1>
    {% for p in post %}
    <div class="card mb-4">
	<img class="img-responsive" src="{{MEDIA_URL}} {{ p.imageURL }}">
        <div class="card-body">
            <h2 class="card-title">{{ p.title }}</h2>
            <p class="card-text">Desc</p>
            <a href="{% url 'post' p.id  %}" class="btn btn-primary">Read More &rarr;</a>
        </div>
	<div class="card-footer text-muted">Posted on {{ p.date_posted | date:"F d, Y" }} by<span style="color: #be0;"> {{ p.author }}</span></div>
	{% endfor %}
	{% endblock content %}
    </div>
